<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Errore</title>
	<!-- Aggiungi il link a Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-light">
	<div th:replace="~{fragments/navbar :: navbar}"></div>
	
	<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="card text-center shadow-lg">
			<div class="card-header bg-danger text-white">
				<h3>Errore!</h3>
			</div>
			<div class="card-body">
				<h5 class="card-title">Oops! Qualcosa è andato storto.</h5>
				<p class="card-text">Riprova più tardi o contatta il supporto se il problema persiste.</p>
				<a href="/" class="btn btn-primary">Torna alla home</a>
			</div>
		</div>
	</div>
	
	<!-- Aggiungi Bootstrap JS e il Popper.js necessari per alcuni componenti -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
